<script>
  localStorage.devices = '[<%- devices %>]';
  document.addEventListener("DOMContentLoaded", function() {
    buildDeviceListDOM();
    $('#user-select').selectize({
      onItemAdd : function(value) {updateModalUser(value);}
    });
  });
</script>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
      </div>
      <div class="filter-container panel-body">
        <div class="col-md-6">
          <span>Platforms</span>
          <ul id="platform-filter" class="nav nav-pills">
            <li class="active" onclick="clickPill(this)"><a href="#">All</a></li>
            <% if (devicePlatforms) { %>
              <% devicePlatforms.forEach( function(platform){ %>
                <li onclick="clickPill(this)"><a href="#"><%- platform %></a></li>
              <% }); %>
            <% } %>
          </ul>
        </div>
        <span>Offices</span>
        <ul id="office-filter" class="nav nav-pills">
          <li class="active" onclick="clickPill(this)"><a href="#">All</a></li>
          <% if (deviceOffices) { %>
            <% deviceOffices.forEach( function(office){ %>
              <li onclick="clickPill(this)"><a href="#"><%- office %></a></li>
            <% }); %>
          <% } %>
        </ul>
        <div class="col-md-6">
          <span>Availability</span>
          <ul id="availability-filter" class="nav nav-pills">
            <li class="active" onclick="clickPill(this)"><a href="#">All</a></li>
            <li onclick="clickPill(this)"><a href="#">Checked In</a></li>
            <li onclick="clickPill(this)"><a href="#">Checked Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
      </div>
      <div id="map-container panel-body">
        <img id="hudl-east-1" class="east-1-map" src="../img/hudl-zones/hudl-east-1.png"></img>
        <img id="hudl-east-1-east" class="east-1-map zone-map zone-east inactive" src="../img/hudl-zones/hudl-east-1-east.png"></img>
        <img id="hudl-east-1-west" class="east-1-map zone-map zone-west inactive" src="../img/hudl-zones/hudl-east-1-west.png"></img>
        <img id="hudl-east-1-cart" class="east-1-map zone-map zone-cart inactive" src="../img/hudl-zones/hudl-east-1-cart.png"></img>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div id="panel-body">
        <div class="form-group has-warning inner-addon left-addon">
          <i class="fa fa-search"></i>
          <input class="form-control" onkeyup='updateSearch(event)' placeholder='Search by device name, platform, or OS version' id="focusedInput" type="text" value="">
        </div>
        <div id="panel-body">
          <div id="devices-list">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Checkin / Checkout modal -->
<div id="checkoutModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 id="modal-title" class="modal-title"></h4>
    </div>
    <div class="modal-body" style="height:200px">
      <form id="check-device-form" class="form-horizontal hide-form" method="POST">
        <input id="check-device-input" class="btn btn-default btn-success btn-block" type="" value="">
      </form>
      <select id="user-select" placeholder="Select a hudlie">
        <option value=""></option>
        <% if(users) { %>
          <% Array.prototype.forEach.call(users, function(user) { %>
            <option value="<%- user.id %>"><%- user.firstName + ' ' + user.lastName %></option>
          <% }); %>
        <% } %>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
